{% extends 'base.html' %}

{% block title %}Create a New User{% endblock %}

{% block content %}

<h1>Create a New User</h1>

<form>
    <label for="firstNameInput">First Name:</label>
    <input type="text" name="firstName" id="firstName" placeholder="Enter a First Name">
    <br>
    <label for="lastNameInput">Last Name:</label>
    <input type="text" name="lastName" id="lastName" placeholder="Enter a Last Name">
    <br>
    <label for="imageUrl">Image URL:</label>
    <input class="urlTextBox" type="url" name="imageUrl" id="imageUrl" placeholder="Enter URL to Image of User">
    <br>
    <button class="tealButton" formaction="/create_user" formmethod="post" id="addButton">Add User</button>
    <button class="orangeButton" formaction="/">Cancel</button>
</form>

{% endblock %}