{% extends 'base.html' %}

{% block title %}Edit {{tag.name}}{% endblock %}

{% block content %}

<form>
    <label for="tagName">Tag Name:</label>
    <input name="tagName" type="text" value="{{tag.name}}">

    <button class="orangeButton" formaction="/posts/{{tag.name}}">Cancel</button>
    <button class="purpleButton" formaction="/edit_tag/{{tag.name}}" formmethod="post">Edit Tag</button>
    <button class="tealButton" formaction="/delete_tag/{{tag.name}}" formmethod="post">Delete Tag</button>
</form>

{% endblock %}