{% extends 'base.html' %}

{% block title %}Edit - Post #{post.id}{% endblock %}

{% block content %}

<h1>Edit Post</h1>

<form>
    <label for="titleText">Title:</label>
    <input name="titleText" type="text" value="{{post.title}}">

    <label for="contentText">Content:</label>
    {% if post.content == None %}
    <input name="contentText" type="text" value="">
    {% else %}
    <input name="contentText" type="text" value="{{post.content}}">
    {% endif %}

    <div>
        <h3>Tags</h3>
        <!-- {% for tag in tags %}

        {% for post_tag in post_tags %}
        {% if post_id == post.id and tag_id == tag.id %}
        <label><input type="checkbox" name="tag{{tag.id}}" value="{{tag.name}}" checked>{{tag.name}}</label>
        {% else %}
        {% endif %}
        {% endfor %}
        <label><input type="checkbox" name="tag{{tag.id}}" value="{{tag.name}}">{{tag.name}}</label> -->

        {% endfor %}
    </div>

    <button formaction="/{{user.id}}">Cancel</button>
    <button formaction="/posts/{{post.id}}/edit" formmethod="post">Edit</button>
</form>

{% endblock %}