{% extends 'base.html' %}

{% block title %}Edit a User{% endblock %}

{% block content %}

<h1>Edit a User</h1>

<form method='post'>
    <label for="firstNameInput">First Name:</label>
    <input type="text" name="editFirstNameInput" id="firstNameInput" value="{{user.first_name}}">
    <br>
    <label for="lastNameInput">Last Name:</label>
    <input type="text" name="editLastNameInput" id="lastNameInput" value="{{user.last_name}}">
    <br>
    <label for="urlInput">Image URL:</label>
    <input class="urlTextBox" type="url" name="urlInput" id="editUrlInput" value="{{user.image_url}}">
    <br>
    <button class="tealButton" formaction="/{{user.id}}/edit" id="editButton">Edit User</button>
</form>

{% endblock %}