{% extends 'base.html' %}

{% block title %}New Post by {{user.first_name}}{% endblock %}

{% block content %}

<h1>New Post for {{user.first_name}}</h1>

<form>
    <label class="inputLabel" for="titleText">Title:</label>
    <input class="contentTextBox" name="titleText" type="text">
    <br>
    <label class="inputLabel" for="contentText">Content:</label>
    <input class="contentTextBox" name="contentText" type="text">

    <div class="tagDiv">
        <h3>Tags</h3>
        {% for tag in tags %}
        <label><input type="checkbox" name="tag{{tag.id}}" value="{{tag.name}}">{{tag.name}}</label>
        {% endfor %}
    </div>


    <button class="tealButton" formaction="/{{user.id}}">Cancel</button>
    <button class="purpleButton" formaction="/new_post/{{user.id}}" formmethod="post">Post</button>
</form>


{% endblock %}