{% extends 'base.html' %}

{% block title %}New Post by {{user.first_name}}{% endblock %}

{% block content %}

<h1>New Post for {{user.first_name}}</h1>

<form>
    <label for="titleText">Title:</label>
    <input name="titleText" type="text">

    <label for="contentText">Content:</label>
    <input name="contentText" type="text">

    <div>
        <h3>Tags</h3>
        {% for tag in tags %}
        <label><input type="checkbox" name="tag_{{tag.id}}" value="{{tag.name}}">{{tag.name}}</label>
        {% endfor %}
    </div>


    <button formaction="/{{user.id}}">Cancel</button>
    <button formaction="/new_post/{{user.id}}" formmethod="post">Post</button>
</form>


{% endblock %}