{% extends 'base.html' %}

{% block title %}Post #{{post.id}}{% endblock %}

{% block content %}

<h2>{{post.title}}</h2>
<p>{{post.content}}</p>
<p>By {{user.first_name}} {{user.last_name}}</p>

<div>
    <label>Tags: {% for tag in tags %}{{tag.name}}{% endfor %}</label>

</div>

<form>
    <button formaction="/posts/{{post.id}}/edit">Edit</button>
    <button formaction="/posts/{{post.id}}/delete" formmethod="post">Delete</button>
    <button formaction="/{{user.id}}">Back to {{user.first_name}}</button>
    <button formaction="/">Home</button>
</form>

{% endblock %}