{% extends 'base.html' %}

{% block title %}Post #{{post.id}}{% endblock %}

{% block content %}

<h2>{{post.title}}</h2>
{% if post.content == None %}
<p></p>
{% else %}
<p>{{post.content}}</p>
{% endif %}
<p>By {{user.first_name}} {{user.last_name}}</p>

<div class="tagDiv">
    <label>Tags:</label>
    {% for tag in tags %}
    <a class="tagLink" href="/posts/{{tag.name}}">{{tag.name}}</a>
    {% endfor %}
</div>

<form>
    <button class="tealButton" formaction="/posts/{{post.id}}/edit">Edit</button>
    <button class="orangeButton" formaction="/posts/{{post.id}}/delete" formmethod="post">Delete</button>
    <button class="purpleButton" formaction="/{{user.id}}">Back to {{user.first_name}}</button>
    <button class="tealButton" formaction="/">Home</button>
</form>

{% endblock %}